<div class="card z-depth-3">
<br><div class="row">
  <div>
      <%= image_tag "cool_boxes.jpg", class: "responsive-img" %>
  </div>
        <div class="col s12 m7">
              <br><span class="card-title black-text"><strong><%= @post.title %></strong></span>
            <div class="card-content">
              <p>
                Submitted <%= time_ago_in_words(@post.created_at) %> ago
                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_post_path(@post) %> /
                  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
              </p>
              <br>
              <p>
                <%= @post.body %>
              </p>
            </div>
            </div>
          </div>
      </div>
    <div class="card z-depth-3">
      <div class="row">
      <br><div class="card-content">
      <p>
        <h5><%= @post.comments.count %> Comments</h5>
        <%= render @post.comments %>

        <h6>Add a comment:</h6>
        <%= render "comments/form" %>
      </p>
    </div>
  </div>
</div>
